.signUp-container {
  font-family: Arial, Tahoma;
  background-color: #333;
  background-position: left;
  margin: 0;
  background-image: url(../assets/images/login/Cars-Desktop-Wallpaper.jpg);
  background-size: cover;
}

.signUp-parent {
  height: 130vh;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 500px;
  padding: 80px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.signUp-parent .signUp-child {
  border: 3px solid #f00;
  padding: 50px;
  margin: 50px;
}

.signUp-parent .signUp-child h2 {
  background-color: #f00;
  padding: 10px;
  text-align: center;
  color: #fff;
}

form {
  padding: 20px;
  margin: 20px;
  border-radius: 6px;
  background-color: transparent;
}

.inputbox {
  position: relative;
  margin: 10px 0 30px;
  width: 310px;
  border-bottom: 2px solid #fff;
}

.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0;
  color: #fff;
}

.forget {
  margin: -15px 0 30px;
  font-size: 0.9em;
  color: #fff;
  display: flex;
  justify-content: center;
}

.forget label input {
  margin-right: 3px;
}

.forget label a {
  color: #fff;
  text-decoration: none;
}

.forget label a:hover {
  text-decoration: underline;
}

button {
  background-color: #f00;
  width: 100%;
  height: 40px;
  border-radius: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  color: #fff;
}

.log-in {
  font-size: 0.9em;
  color: #fff;
  text-align: center;
  margin: 15px 0 20px;
}

.log-in p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.log-in p a:hover {
  text-decoration: underline;
}

#msg {
  background-color: transparent;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
}
